* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #141414;
    font-family: "Sofia", "Avenir", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    -webkit-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    line-height: 1.6em;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

i {
    font-style: normal;
}

/**
 * Selection
 */
::-moz-selection {
    background: rgba(122, 190, 224, 0.25);
}

::selection {
    background: rgba(122, 190, 224, 0.25);
}

/**
 *
 * Headers
 *
 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Sofia", "Avenir", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 60px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
}

h4 {
    font-size: 14px;
    line-height: 12px;
}

/**
 *
 * Forms
 *
 */
input {
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    padding: 10px;
    color: #141414;
    font-family: "Sofia", "Avenir", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.min-input {
    border: none;
    border-bottom: 3px solid #000;
}

.btn-primary, .button {
    cursor: pointer;
    background-color: #141414;
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 10px 20px 11px;
    color: #fff;
    font-family: "Sofia", "Avenir", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center;
}

.btn-primary:hover, .button:hover {
    background-color: #ef4862;
}

.container {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
}

@media only screen and (max-width: 640px) {
    .container {
        margin-right: 0;
        margin-bottom: 46px;
    }
}

.main {
    width: 100%;
    padding: 40px 0 0;
}

.project-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: horizontal;
    -webkit-box-direction: normal;
    margin-bottom: 24px;
    will-change: opacity, transform;
    margin-bottom: 60px;
    justify-content: space-between;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.project-header-title {
    display: block;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: bold;
    line-height: 23px;
    margin: 0;
}

.project-header-title--large {
    margin-top: 4px;
    font-size: 32px;
    letter-spacing: -0.02em;
}

.title {
    margin-bottom: 16px;
}

.project-header-category {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #aaa;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.0;
    margin-bottom: 16px;
}

.project-introduction {
    position: relative;
    margin-bottom: 60px;
}

.project-introduction svg rect {
    fill: #f2f2f2;
}

.project-introduction img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}

.project-introduction img[lazyloaded] {
    opacity: 1.0;
}

.project-owner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    line-height: 1.0;
}

.project-owner:hover {
    opacity: 0.7;
}

.project-owner-name {
    display: block;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 2.4;
}

.project-owner-introduction {
    display: block;
    margin-top: 16px;
    margin-bottom: 3px;
    width: 100%;
    max-width: 300px;
    color: #aaa;
    font-size: 16px;
    line-height: 1.4;
}

.project-owner-image {
    margin-right: 12px;
    margin-left: -2px;
    max-width: 40px;
}

.project-owner-image img {
    border-radius: 50%;
    overflow: hidden;
}

.project-sidebar-headers-link {
    margin-bottom: 8px;
    color: #aaa;
    font-size: 20px;
    line-height: 26px;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}

.project-sidebar-headers-link:hover,
.project-sidebar-headers-link.active {
    color: #141414;
}

.project-sidebar-headers-link:last-child {
    margin-bottom: 0;
}

.project--case-study .project-header {
    margin-bottom: 60px;
}

.case-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1160px;
}

.project-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 24px;
    will-change: opacity, transform;
}

.project-header-category {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #aaa;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.0;
    margin-bottom: 16px;
}

.project-introduction {
    position: relative;
    margin-bottom: 60px;
}

.project-introduction svg rect {
    fill: #f2f2f2;
}

.project-introduction img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}

.project-introduction img[lazyloaded] {
    opacity: 1.0;
}

.project-owner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    line-height: 1.0;
}

.project-owner:hover {
    opacity: 0.7;
}

.project-owner-name {
    display: block;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 2.4;
}

.project-owner-introduction {
    display: block;
    margin-top: 16px;
    margin-bottom: 3px;
    width: 100%;
    max-width: 300px;
    color: #aaa;
    font-size: 16px;
    line-height: 1.4;
}

.project-owner-image {
    margin-right: 12px;
    margin-left: -2px;
    max-width: 40px;
}

.project-owner-image img {
    border-radius: 50%;
    overflow: hidden;
}